.main-catalog {
    display: none;
}

.main-advertis {
    display: none;
}

.main-sale {
    display: none;
}

.review-people {
    display: none;
}

.main-contact {
    display: none;
}

.footer {
    display: none;
}

.about-us {
    display: none;
}

.main-hero {
    display: none;
}





@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Semibold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: #fbfbfb;
  color: rgba(12, 12, 12, 0.7);
  font-family: 'Gilroy', sans-serif;
}

h1,h2,h3,p,ul {
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.button {
    cursor: pointer;
}

/*common*/

.container {
  width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
     width: 1280px;
     margin: 0 auto;
     padding: 0 15px;
    }
}

/*header*/

.header-nov-list {
    display: none;
}

.header-social-list {
    display: none;
}

.header {
    border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}

.header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0px 0px;
  width: 375px;
  height: 74px;
}

.header-logo {
font-family: "Gilroy", sans-serif;
font-weight: 500;
font-size: 16px;
letter-spacing: -0.02em;
color: #0c0c0c;
display: block;
}

.burger-btn {
    padding: 0;
    border: none;
    
}

.burger-icon {
    display: block;
    fill: #0C0C0C;
}