@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Semibold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../css/fonts/Gilroy-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: #fbfbfb;
  color: rgba(12, 12, 12, 0.7);
  font-family: 'Gilroy', sans-serif;
}

ul,
ol {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.container {
  max-width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
}






 


.header {
  border-bottom: 1px solid rgba(12, 12, 12, 0.1);
}

.header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-nov-list {
  display: flex;
  gap: 40px;
}

.header-logo {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: #0c0c0c;
  display: block;
  padding-bottom: 40px;
  padding-top: 30px;
  position: relative;
}

.header-nav-link::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 30px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transform: translateX(-50%) scale(0);
  background-color: #3350e9;
  opacity: 0;
  transition: opacity 250ms ease-in, transform 250ms ease-in;
}

.header-nav-link:hover::after,
.header-nav-link:focus::after {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}


.header-social-list {
  display: flex;
  gap: 10px;
}

.header-social-item {
  width: 36px;
  height: 36px;
}

.header-social-link {
  border: 1px solid rgba(12, 12, 12, 0.1);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0c0c0c;
}

.header-social-icon {
  fill: currentColor;
}

.header-social-link:hover,
.header-social-link:focus {
  border-color: rgba(51, 80, 233, 0.1);
  color: #3350e9;
}











.main-hero {
  padding-top: 80px;
}

.wrapper-all {
  display: flex;
  justify-content: space-between;
}

.logo-hero {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 72px;
  line-height: 0.87;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  max-width: 597px;
  margin-bottom: 20px;
}

.text-hero {
  color: #3350e9;
}

.description-hero {
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  max-width: 597px;
  margin-bottom: 40px;
}

.hero-people-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.scroll-down {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
  margin-bottom: 40px;
}

.scroll-down:hover,
.scroll-down:focus {
  color: #3350E9;
  transition: opacity 250ms ease-in, transform 250ms ease-in;
}











.about-us {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-us-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text-about-us {
   font-family: "Gilroy", sans-serif;
   font-weight: 600;
   font-size: 48px;
   line-height: 0.92;
   letter-spacing: -0.02em;
   color: #0c0c0c;
   margin-bottom: 40px;
}

.description-about-us-one {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.25;
   letter-spacing: -0.02em;
   color: rgba(12, 12, 12, 0.7);
   margin-bottom: 20px;
}

.description-about-us {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.25;
   letter-spacing: -0.02em;
   color: rgba(12, 12, 12, 0.7);
   margin-bottom: 40px;
}


.button-about-us {
  width: 160px;
  height: 48px;
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
  border-radius: 16px;
  background-color: #3350e9;
}

.button-about-us:hover,
.button-about-us:focus {
   background-color:  #1F3CD4;
   transition: opacity 250ms ease-in, transform 250ms ease-in;
}

.wrapper-img-about {
   padding-top: 100px;
}

.wrapper-all-about {
   max-width: 580px;
   height: 532px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding-top: 100px;
}












.main-catalog {
  padding-top: 50px;
  padding-bottom: 50px;
}

.catalog-conteiner {
   display: flex;
   flex-direction: column;
}

.text-catalog {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 0.92;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.description-catalog {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-top: 10px;
  margin-left: 32px;
  text-align: start;
}

.cost-catalog {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
  margin-top: 8px;
  margin-left: 32px;
  text-align: start;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 23px;
  padding-top: 40px;
}

.catalog-item {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  background-color: #f3f3f3;
  max-width: 368px;
  height: 414px;
}

.catalog-img {
  margin: 0 auto;
}









.main-advertis {
   padding-top: 50px;
   padding-bottom: 50px;
}

.text-advertis {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 0.92;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-left: 80px;
  margin-top: 83px;
  margin-bottom: 83px;
  margin-right: 180px;
}

.color-text-advertis {
  color: rgba(251, 251, 251, 0.5);
}

.advertis-conteiner {
    background-image:  url('../images/fone.png'), url('../images/dark-fone.png');
    border-radius: 30px;
    max-width: 1150px;
    height: 298px;
    color: #fbfbfb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.button-advertis {
   font-weight: 500;
   font-size: 14px;
   line-height: 1.29;
   text-align: center;
   color: #fbfbfb;
   border: 1px solid rgba(251, 251, 251, 0.15);
   border-radius: 16px;
   width: 160px;
   height: 48px;
   background-color: transparent;
   margin-right: 80px;
   margin-bottom: 110px;
   
}

.button-advertis:hover,
.button-advertis:focus {
  background-color: #FBFBFB;
  color: #0C0C0C;
  transition: opacity 250ms ease-in, transform 250ms ease-in;
}








.region sale

.text-sale {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 0.91667;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}













.region review

.review-people {
  padding-top: 50px;
  padding-bottom: 50px;
}


.text-review {
   font-weight: 600;
   font-size: 48px;
   line-height: 0.91667;
   letter-spacing: -0.02em;
   color: #0c0c0c;
   margin-bottom: 40px;
}

.review-name {
   font-weight: 500;
   font-size: 18px;
   line-height: 1.1;
   letter-spacing: -0.02em;
   text-align: center;
   color: #0c0c0c;
   margin-top: 24px;
   margin-bottom: 8px;
}

.review-description {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.25;
   letter-spacing: -0.02em;
   text-align: center;
   color: rgba(12, 12, 12, 0.4);
}

.review-item {
  border-radius: 30px;
  padding: 32px 36px;
  background-color: #f3f3f3;
  width: calc((100% - 40px) / 3);
}

.review-list {
  display: flex;
  gap: 20px;
}

.review-img {
  margin: 0 auto;
}